REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_HOST_PORT=6379
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=35672
RABBITMQ_HOST_PORT=35672
RABBITMQ_MANAGEMENT_PORT=15672
GATEWAY_PORT=18080
NACOS_HTTP_PORT=9287
NACOS_GRPC_PORT=10287
NACOS_RAFT_PORT=10288
NACOS_SERVER_ADDR=127.0.0.1:9287
